:root {
    /* BACKGROUND */
    --bg: #121212;

    /* TEXT */
    --text-primary: #E8E8E8;
    --text-secondary: #AFAFAF;
    --text-tertiary: rgb(40, 29, 68);
    /* --accent: rgb(139, 92, 246); */
    --accent: rgb(255, 128, 144);
    --slider: rgba(139, 92, 246, 1);

    --hover: #202020;
    --selected: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: var(--bg);
    color: var(--text-primary);
    padding: 1rem;
}

.container {
    width: 100%;
    max-width: 424px;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid #ffffff0d;
}

/* Información del track seleccionado */
.now-playing {
    text-align: center;
    height: 56px;
    padding: .5rem;
}

.now-playing #track-title {
    font-size: 1rem;
    font-weight: 500;
}

.now-playing #track-artist {
    color: var(--text-secondary);
    font-size: .875rem;
}

/* Información X de Y */
.track-progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: 3px solid #ffffff0d;
    margin: 1rem 0;
}

.track-progress {
    width: 100px;
    text-align: center;
    font-size: .875rem;
}

.track-progress span {
    font-variant-numeric: tabular-nums;
}

/* Fin track progress */

/*  */


/*  */

/* Playlist */
.playlist-container {
    height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}

.playlist-container::-webkit-scrollbar {
    width: 8px;
}

.playlist-container::-webkit-scrollbar-track {
    background-color: var(--selected);
    border-radius: 4px;
}

.playlist-container::-webkit-scrollbar-thumb {
    background-color: rgba(139, 139, 139, 1);
    border-radius: 4px;
}

.playlist-container::-webkit-scrollbar-thumb:hover {
    background-color: #636363;
}

#playlist {
    width: 100%;
    list-style-type: none;
}

/* Fin playlist */

/* Track li */
.playlist-track {
    display: grid;
    grid-template-columns: 48px auto 48px;
    padding: .5rem 0;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border-radius: .25rem;
}

.playlist-track__title {
    font-size: 1rem;
    font-weight: 500;
}

.playlist-track__artist {
    font-size: .875rem;
    color: var(--text-secondary);
}

.playlist-track__number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.playlist-track__number,
.playlist-track__duration {
    font-size: .875rem;
    text-align: center;
    color: var(--text-secondary);
    font-variant-numeric: tabular-nums;
}

.playlist-track:hover {
    /* background-color: var(--hover); */
}

.playlist-track__info {
    min-width: 0;
}

.playlist-track__title,
.playlist-track__artist,
#track-title,
#track-artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-track.is-selected {
    color: var(--accent);
    /* background-color: rgba(139, 92, 246, .16); */
    background-color: var(--text-tertiary);
}

.playlist-track.is-playing .track-number {
    opacity: 0;
}

.playlist-track .track-number {
    transition: opacity 120ms ease;
}

/* Fin de estilos de la playlist */

/* Current time */
.current-time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    height: 48px;
}

.current-time-container .time {
    min-width: 48px;
    font-size: .875rem;
    text-align: center;
    color: var(--text-secondary);
}

/* Fin de current time */

/* Controles */
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

/* Fin de estilos de controles */

/* Controles de volumen */
.volume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.volume-container #volume-value {
    min-width: 44px;
    text-align: center;
    font-size: .875rem;
    color: var(--text-secondary);
    font-variant-numeric: tabular-nums;
}

/* Finde estilos de control de volumen */

/* Slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    flex: 1;
}

.slider:focus {
    outline: none;
}

/* Mozilla Firefox */
.slider::-moz-range-track {
    background-color: var(--selected);
    height: 4px;
    border-radius: 4px;
}

.slider::-moz-range-progress {
    background-color: var(--slider);
    height: 4px;
    border-radius: 4px;
}

.slider::-moz-range-thumb {
    border: none;
    background-color: rgba(139, 92, 246, .5);
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

.slider:not(:disabled):hover::-moz-range-thumb {
    background-color: var(--slider);
    width: 10px;
    height: 10px;
    transform: scale(1.3);
}

/* Google Chrome */
.slider::-webkit-slider-runnable-track {
    background-color: var(--selected);
    height: 4px;
    border-radius: 4px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--slider);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: -3px;
}

.slider:focus::-webkit-slider-runnable-track {
    background-color: var(--slider);
}

.slider:not(:disabled):hover::-webkit-slider-thumb {
    transform: scale(1.3);
}

.slider:focus::-webkit-slider-runnable-track {
    background: var(--slider);
}

.slider:disabled::-webkit-slider-thumb {
    height: 0;
    width: 0;
}

/* Fin de estilos del slider */

/* Estilos de botones */
.btn {
    cursor: pointer;
    color: var(--text-primary);
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1/1;
    border-radius: .25rem;
    font-size: 1rem;

    outline: none;
    background: none;
    border: none;

    transition: all .2s ease;
}

.btn:hover {
    background-color: var(--hover);
}

.btn svg {
    /* Esto hará que el icono escale en función del font-size del button */
    width: 1.5em;
    height: auto;
}

#play-pause-btn {
    width: 48px;
    height: 48px;
    font-size: 1.25rem;
}

#repeat-btn.active,
#shuffle-btn.active {
    color: var(--accent);
    color: var(--slider);
}

#volume-btn {
    font-size: .875rem;
    color: var(--text-secondary);
}

/* Fin estilos de botones */

/*  */
.playing-icon {
    width: 14px;
    height: 14px;
    position: absolute;
}

/* Util css */
.d-none {
    display: none;
}

.fs-14 {
    font-size: .875rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

/*  */

.player {
    transition: opacity 0.3s ease, filter 0.3s ease;
}

/* Sin playlist */
.player.is-idle {
    opacity: 0.5;
    filter: grayscale(1);
}

/* Con playlist */
.player.is-ready {
    opacity: 1;
    filter: none;
}

.player.is-idle button {
    cursor: not-allowed;
}